<h1>Pet info</h1>

<p>
  Name: <%= @pet.name %>
</p>

<p>
  Description: <%= @pet.description %>
</p>
<%= link_to "Edit pet information", edit_pet_path(@pet) %>
<%= link_to "Back to Pets listing", pets_path %>
