$navbar-default-bg: #323335;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.glyphicon {
  color: #fff;
  font-size: 1.2em;
}

.centre {
  text-align: center;
}

footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
  background-color: #323335;
}

footer small {
  float: left;
  color: #fff;
}

#about {
  color: #fff;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#petdescribe {
  resize: none;
}
